.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__dev {
    width: 100%;
    padding: 70px;
}

.login__button {
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
    background-color: transparent;
    border: 0;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
}

.login__button:hover {
    opacity: 0.7;
}

.login__button_signin {
    margin: 10px 0 16px;
    padding: 13px 0 15px;
    border-radius: 3px;
    color: white;
    background-color: #E57E46;
    width: 100%;
}

.login__button_signin:disabled {
    background-color: #f8f8f8;
    color: #c2c2c2;
}

.login__button_text-register {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #E57E46;
    margin-left: 6px;
}

.login__logo {
    width: 38px;
    height: 38px;
}

.login__form {
    margin: 0 auto;
    max-width: 396px;
}

.login__title {
    color: black;
    margin: 40px 0 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.login__info {
    margin: 40px 0 15px;
    padding: 0;
}

.login__input-dev {
    position: relative;
    margin-bottom: 20px;
}

.login__input {
    
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: black;
    border:none;
    background-color: #F9F9F9;
    display: block;
    padding: 15px 0 15px;
    margin: 0;
    width: 100%;
    border-radius: 8px;
    padding-left: 15px;
}

.login__ll{
    position: absolute;
    top: -22px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #a0a0a0;
    margin: 0;
}

.login__input-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    padding: 0;
    margin: 6px 0 0;
    display: block;
    min-height: 24px;
}

.login__text-register {
    margin: 0;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .login__dev {
        padding: 150px 186px;
    }
}

@media screen and (max-width: 767px) {
    .login__info {
        margin: 80px 0 42px;
    }

    .login__dev {
        padding: 56px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login__form {
        margin: 50px auto 0;
        min-width: 260px;
    }

    .login__button_logo {
        display: flex;
        justify-content: center;
    }

    .login__title {
        text-align: center;
        margin: 50px 0 0;
    }

    .login__button_signin {
        margin: 200px 0 14px;
        padding: 15px 0 15px;
    }

    .login__text-register {
        font-size: 12px;
        line-height: 15px;
    }

    .login__button_text-register {
        font-size: 12px;
        line-height: 15px;
        margin-left: 7px;
    }
}