.header {
    width: 100%;
}

.header_theme_light {
    background-color: #5C5C5C;
}

.header_theme_dark {
    background-color: #fff;
}

.header__dev {
    margin: 0 auto;
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    max-width: 1140px;

}

.header__button_dev {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    padding: 8px 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    border-radius: 3px;
    font-size: 12px;
    transition: .2s;
}

.header__button:hover {
    opacity: 0.7;
}

.header__button_signup {
    padding-right: 30px;
    color: white;
    
}

.header__button_signin {
    color: black;
    background-color: #E57E46;
}

.header__button_logo {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 38px;
    height: 38px;
    align-items: flex-end;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .header__dev {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__dev {
        padding: 18px 14px;
    }

    .header__button_signup {
        padding-right: 14px;
    }

    .header__button {
        font-size: 10px;
    }
}
@media screen and (max-width: 375px){
    .header__dev {
        
        min-width: 283px;
    }
}
@media screen and (max-width:338px) {
    .header__dev{
        padding: 0;
    }
    
}
    
