.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__dev {
    padding: 74px 70px 70px;
    max-width: 1140px;
    min-width: 320px;
}
.profile__edit-text {
    text-align: center;
    display: block;
    min-height: 100px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    padding: 0;
    margin: 0;
}
.profile__form {
    margin: 0 auto;
    width: 410px;

}

.profile__title {
    color: black;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.profile__ll {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    border-top: none;
    border-left: none;
    border-right: none;
}

.profile__info {
    padding: 0;
    margin: 50px 0 0px;
}

.profile__input {
    display: block;
    padding: 16px 0;
    text-align: end;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: black;
    background-color: #fff;
    border: none;
    width: 100%;

}

.profile__input:focus {
    outline: none;
}

.profile__input::placeholder {
    color: black;
}

.profile__ll:last-of-type {
    border-bottom: none;
}

.profile__input-text {
    position: absolute;
    top: 16px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    color: black;
}

.profile__input-error {
    padding: 0;
    margin: 2px 0;
    min-height: 12px;
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
}

.profile__button {
    margin: 16px 0 0;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
    background-color: transparent;
    border: 0;
    font-weight: 400;
}

.profile__button:hover {
    opacity: 0.7;
}

.profile__button:first-child {
    margin: 0;
}

.profile__button_edit {
    color: black;
}

.profile__button_exit {
    font-weight: 500;
    color: #EE3465;
}
.profile__button_anketa {
    font-weight: 500;
    color: #087623;
}
.profile__button_edit:disabled {
    cursor: not-allowed;
    color:#696969;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .profile__dev {
        padding: 70px 30px 40px;
    }

    .profile__button {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 767px) {
    .profile__form {
        width: 260px;
    }
    .profile__input-text {
        top: 12px;
    }
}