.anketa__form{
  margin-top: 30px;
  margin-left: 50px;
  width: 80%;
}
.anketa__que-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
}
.anketa__que{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
ul{
  padding-left: 0px;
}
.anketa__que ul{
  padding-left: 5px;
}
li{
  list-style-type: none;
  padding-left: 20px;
}
.anketa__ans-container{
  display: flex;
  flex-direction: column;
  row-gap: 7px;

}
.anketa__line{
  width: 100%;
  height: 1px;
  background-color: rgb(42, 42, 42);
}
.anketa__ans-container_dop{
  margin-bottom: 20px;
}
.anketa__que_dop{
  margin-top: 20px;
}
.anketa__save{
  border: none;
  background-color: #E57E46;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.anketa__save:disabled{
  border: none;
  background-color: #ffac80;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
}
.anketa__conclusion-title{
  font-size: 25px;
  color: #8A380C;
  font-weight: 600;
}
.anketa__conc-container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.anketa__conc-container p{
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.anketa__conc-container div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.anketa__conc-container li{
  margin: 0;
  font-size: 17px;
  font-weight: 400;

}
li::before {
  color: #E57E46; /* Цвет маркера */
  content: "•"; /* Сам маркер */
  padding-right: 10px; /* Расстояние от маркера до текста */
 }
 .anketa__text{
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
 }
 .ahketa__btns{
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;

 }
 .results__more {
  background-color: white;
  color: #c5581d;
  border: 1px solid #E57E46;
  border-radius: 2px;
  width: 201px;
  height: 20px;
  text-decoration: none;
  font-size: 13px;
  padding: 10px;
  transition: 0.3s
 }
 .results__more:hover{
  background-color: #E57E46;
  color: white;
 }
 .anketa__btn_adress{
  cursor: pointer;
  border: none;
  height: 40px;
  width: 220px;
  font-size: 16px;
  background-color: #E57E46;
  border-radius: 2px;
  transition: 0.4s;
  color: white;
 }
 .anketa__btn_more{
  background-color: white;
  color: #c5581d;
  border: 1px solid #E57E46;
  border-radius: 2px;
  width: 201px;
  height: 20px;
  text-decoration: none;
  font-size: 13px;
  padding: 10px
 }
 .results__doc{
  background-color: white;
  color: #c5581d;
  border: 1px solid #E57E46;
  border-radius: 2px;
  width: 250px;
  height: 20px;
  text-decoration: none;
  font-size: 13px;
  padding: 10px;
  transition: 0.3s;
}
.results__doc:hover{
  background-color: #E57E46;
  color: white;
}
 .anketa__btn_adress{
  cursor: pointer;
  border: none;
  height: 40px;
  width: 175px;
  font-size: 16px;
  background-color: #E57E46;
  border-radius: 2px;
  transition: 0.4s;
  color: white;
 }

 .anketa__btn_adress:hover{
  background-color: #c5581d;
 }
 .anketa__btn_more{
  padding: 10px 10px;
  width: 205px;
  text-decoration: none;


  border-radius: 2px;
  text-decoration: none;

  cursor: pointer;
  transition: 0.4s;
 }
 .anketa__btn_more:hover{
  background-color: #c5581d;
  color: white;
 }
 .anketa__res_title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 30px;
  align-items:center;
 }
 .anketa__back{
  height: 20px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;

  text-decoration: none;
  color: #000000;
  transition: 0.3s;
  font-size: 15px;
 }
 .anketa__back:hover{

  color: #9f9f9f;
 }
 .anketa__register{
  text-decoration: none;
  cursor: pointer;
  color: #bd4d10;
  transition: 0.4s;
 }
 .anketa__register:hover{
  text-decoration: none;
  cursor: pointer;
  color: #98461a;
  transition: 0.4s;
 }
 .KoAPRef{
  text-decoration: none;
  cursor: pointer;
  color: #bd4d10;
  transition: 0.4s;
 }
 .KoAPRef:hover{
  text-decoration: none;
  cursor: pointer;
  color: #98461a;
  transition: 0.4s;
 }
 .BankLawRef{
  text-decoration: none;
  cursor: pointer;
  color: #bd4d10;
  transition: 0.4s;
 }
 .BankLawRef:hover{
  text-decoration: none;
  cursor: pointer;
  color: #98461a;
  transition: 0.4s;
 }

 .anketa__results{
  cursor: pointer;
  border: none;
  height: 40px;
  width: 180px;
  font-size: 13px;
  background-color: white;
  color: #c5581d;
  border: 1px solid #E57E46;
  border-radius: 2px;
  transition: 0.4s;
  margin-top: 30px;
  margin-bottom: 20px;

 }
 .anketa__results:hover{
  background-color: #c5581d;
  color: white;
 }