.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.page-not-found__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1140px;
  min-width: 320px;
  height: 100%;
  text-align: start;
}

.page-not-found__info {
  text-align: center;
}

.page-not-found__title {
  margin: 0;
  color: black;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;

}

.page-not-found__link {
  color: #2BE080;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  transition: .2s;
  text-decoration: none;
}

.page-not-found__description {
  margin: 5px 0 0;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.page-not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .page-not-found__title {
      font-size: 80px;
      line-height: 97px;
  }

  .page-not-found__description {
      font-size: 12px;
      line-height: 15px;
  }

  .page-not-found__link {
      font-size: 12px;
      line-height: 15px;
  }
}