.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation__links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navigation__link {
  color: rgb(81, 81, 81);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin: 0 16px 0 0;
  transition: .2s;
}

.navigation__link:last-child {
  margin: 0;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_act {
  font-weight: 500;
}

.navigation__profile {
  text-decoration: none;
  margin: 0;
  transition: .2s;
}

.navigation__profile:hover {
  opacity: 0.7;
}

.navigation__profile-img {
  width: 150px;
  height: 35px;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {

  .navigation__link{
    font-size: 14px;
  }


}


@media screen and (max-width: 767px) {
  .navigation__links {
      display: none;
  }

  .navigation__profile {
      display: none;
  }
}