.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__dev{
    padding: 70px;
    width: 100%;

}

.register__btn {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
    border: 0;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
}

.register__error-text {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;

}
.register__btn:hover {
    opacity: 0.7;
}


.register__btn_signin {
    width: 100%;
    color: white;
    background-color: #E57E46;
    margin: 100px 0 16px;
    padding: 13px 0 15px;
    border-radius: 3px;

}
.register__btn_signup {
    width: 100%;
    margin: 10px 0 16px;
    padding: 13px 0 15px;
    color: white;
    background-color: #E57E46;
    border-radius: 3px;
}

.register__btn_signup:disabled {
    background-color: #f8f8f8;
    color: #c2c2c2;
}

.register__btn_signin:disabled {
    background-color: #f8f8f8;
    color: #c2c2c2;
}

.register__btn_text-register {
    color: #E57E46;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.register__logo {
    width: 40px;
    height: 40px;
}
.register__logo2 {
    width: 169px;
    height: 46px;
}

.register__form {
    margin: 0 auto;
    max-width: 396px;
}
.register__info {
    margin: 62px 0 10px;
    padding: 0;
}

.register__title {
    margin: 40px 0 0;
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.register__input-dev {
    margin-bottom: 20px;
    position: relative;
}

.register__label {
    color: #a0a0a0;
    margin: 0;
    position: absolute;
    top: -22px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    
}

.register__input {
    width: 100%;
    
    display: block;
    padding: 15px 0 15px;
    padding-left: 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: black;
    border:none;
    background-color: #F9F9F9;
    border-radius: 8px;
    
}
.register__input_error{
    color: #EE3465;
}
.register__input-error {
    font-weight: 400;
    display: block;
    min-height: 24px;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    padding: 0;
    margin: 6px 0 0;
}

.register__text-register {
    margin: 0;
    text-align: center;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .register__dev {
        padding: 150px 186px;
    }
}

@media screen and (max-width: 767px) {
    .register__info {
        margin: 80px 0 42px;
    }

    .register__dev {
        padding: 56px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .register__form {
        margin: 50px auto 0;
        min-width: 260px;
    }

    .register__btn_logo {
        display: flex;
        justify-content: center;
    }
    .register__title {
        text-align: center;
        margin: 50px 0 0;
    }
    .register__btn_text-register {
        font-size: 12px;
        line-height: 15px;
        margin-left: 7px;
    }
    .register__btn_signin {
        margin: 200px 0 14px;
        padding: 15px 0 15px;
    }

    .register__text-register {
        font-size: 12px;
        line-height: 15px;
    }

}