.footer__dev {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 70px 20px;
}

.footer__text {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #A0A0A0;
    text-align: center;
    border-bottom: #a4a4a4 solid 1px;
    padding: 0 0 20px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;
}

.footer__year {
    margin: 0;
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.footer__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.footer__link {
    color: black;
    text-decoration: none;
    transition: .2s;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .footer__dev {
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer__dev {
        padding: 79px 10px 10px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 14px;
        padding: 0 0 20px;
    }

    .footer__info {
        flex-direction: column;
        margin: 30px 0 0;
        text-align: center;
    }

    .footer__list {
        flex-direction: column;
        order: 1;
        gap: 12px;
        font-size: 12px;
        padding: 0;
    }

    .footer__year {
        order: 2;
        color: #8B8B8B;
        font-size: 12px;
        line-height: 14px;
        margin: 30px 0 0;
    }
}