/* Documents.module.css */

.main {
  padding: 20px;
}

h2 {

  margin-bottom: 20px;
}

h3 {

  margin-top: 30px;
}

.documents__btn {
  margin-right: 10px;
  background-color: transparent;
  color: #E57E46;
  border: none;
  text-decoration: underline;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 10px;
  transition: 0.3s;
}
.doc__pam{
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}
.doc__more{
  background-color: white;
  margin-top: 20px;
  color: #E57E46;
  border: 1px solid #E57E46;
  border-radius: 2px;
  width: 201px;
  height: 20px;
  text-decoration: none;
  font-size: 13px;
  padding: 5px;
  transition: 0.3s;
  display: block;
}
.doc__more:hover{
  background-color: #E57E46;
  color: white;
 }
.documents__btn:hover {
  background-color: #E57E46;
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

li button {
  margin-right: 10px;
}

.documents-container {
  display: flex;
  justify-content: space-between;
}

.documents-column {
  width: 48%;
  height: auto;
}

/* Optional: adjust styling for NavLink */
.navlink {
  color: #E57E46;
  padding: 10px;
  border: 1px solid #E57E46;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.3s;
}

.navlink:hover {

  color: white;
  background-color: #E57E46;
}
