.about-project__dev {
    max-width: 1140px;
    min-width: 320px;
    margin: 0 auto;
    padding: 90px 70px;
}

.about-project__header {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: black;
    margin: 0;
    border-bottom: 1px solid black;
    padding: 0 0 23px;
    letter-spacing: -0.04em;
}
.about__link{
    padding: 11px 90px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    line-height: 14px;
    font-size: 14px;
    transition: .2s;
    color: black;
    background-color: #E57E46;
    max-height: 40px;
}
.about__btn{
    max-height: 40px;
    margin: 0;
    border: none;
    padding: 0;
}
.about__link:hover {
    opacity: 0.7;
}
.about__container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-project__list-item {
    max-width: 550px;
}

.about-project__list-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 26px;
    letter-spacing: -0.04em;
}

.about-project__list-text {
    max-width: 707px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.about-project__dev-table {
    display: flex;
}

.about-project__dev-back {
    width: 228px;
}

.about-project__dev-front {
    width: 912px;
}

.about-project__dev-table-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 9px 0 9px;
}

.about-project__dev-title_back {
    color: black;
    background-color: #3DDC84;
}

.about-project__dev-title_front {
    color: black;
    background-color: #f2f2f2;
}

.about-project__dev-desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #A0A0A0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .about-project__dev {
        padding: 90px 50px;
    }

    .about-project__header {
        padding: 0 0 22px;
    }

    .about-project__list {
        justify-content: space-between;
        margin-bottom: 93px;
    }

    .about-project__list-item {
        max-width: 319px;
    }

    .about-project__list-title {
        margin: 0 0 22px;
    }

    .about-project__list-text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .about-project__dev {
        padding: 70px 18px;
    }

    .about-project__header {
        padding: 0 0 28px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__list {
        flex-direction: column;
        margin: 60px 0;
        width: 100%;
    }

    .about-project__list-item {
        padding-bottom: 56px;
    }

    .about-project__list-item:last-child {
        padding-bottom: 0;
    }

    .about-project__list-title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px;
    }

    .about-project__list-text {
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__dev-table-title {
        font-size: 11px;
        line-height: 13px;
        padding: 10px 0 9px;
    }

    .about-project__dev-desc {
        font-size: 11px;
        line-height: 12px;
        padding-top: 10px;
    }
}
@media screen and (max-width:375px) {
    .about-project__dev{
        padding: 0;
        margin: 70px auto;
        min-width: 284px;
    }
    .about-project__list {
        max-width: 284px;
    }
    .about-project__dev-front {
        width: 180px;
    }
    .about-project__dev-back {
        width: 100px;
    }
    
}